body {
    min-height: 100vh;
}

nav {
    background: linear-gradient(to right, #041636, #0b2758);
    margin: 0 !important;
    border: none !important;
    border-radius: unset!important;
}

.nav_left_img_box {
    width: 6rem;
    display: inline-block;
    height: 4rem;
    line-height: 4rem;
}

.nav_left_img_box a {
    display: block;
}

.nav_right_item_box {
    margin: 0;
    padding: 0;
    color: #fff;
    float: right;
    height: 4rem;
    line-height: 4rem;
}

.nav_right_item_box li {
    list-style: none;
    display: inline-block;
}

.nav_right_item_box li a {
    color: #ffffff;
}

.none {
    display: none!important;
}

.position_relative {
    position: relative;
}

.mask {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, .4);
}

img {
    width: 100%;
}

h1 {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

.margin-top-5 {
    margin-top: 5%;
}

.margin-bottom-5 {
    margin-bottom: 5%;
}

.margin-bottom-50px {
    margin-bottom: 50px;
}

.margin-top-10 {
    margin-top: 10%;
}

.flex {
    display: flex;
    display: -moz-flex;
    display: -o-flex;
    display: -ms-flex;
}

.flex.align_center {
    align-items: center;
}

.flex.justify_center {
    justify-content: center;
}

.icon {
    width: 1em;
    height: 1em;
    vertical-align: -0.15em;
    fill: currentColor;
    overflow: hidden;
}

.icon_3rem {
    font-size: 3rem;
}

table {
    width: 100%;
}

.ty_border_bottom {
    border-bottom: 1px solid #eeeeee;
}

.footer {
    position: fixed;
    bottom: .52em;
    left: 0;
    right: 0;
}

.footer p {
    color: #999999;
    font-size: 14px;
}

.footer a {
    color: #586C94;
}