img {
    width: 100%;
}

h1 {
    text-align: center;
    color: #ffffff;
    height: 100%;
}

.height_8rem {
    height: 8rem;
}

.height_8rem:hover {
    background: #fafafa;
    transition: all 0.5s;
}

.height_8rem a {
    color: black;
    width: 100%;
}

.height_8rem:hover a {
    text-decoration: none;
}

@media only screen and (max-width:768px){
    h1{
        font-size: 3rem;
    }
}